@import 'styles';

body {
    font-family: 'exo', sans-serif;
    margin: 0;
    text-shadow:
    0 0 10px #fff, /* Màu neon */
    0 0 1px #fff,
    0 0 2px #fff;
}
input {
    font-family: 'exo', sans-serif;
}